/*Шрифт Core Sans C*/

@font-face {
	font-family: "Core Sans C";
	src:
		url("../fonts/core-sans-c/CoreSansC-65Bold.woff") format("woff2"),
		url("../fonts/core-sans-c/CoreSansC-65Bold.woff2") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Core Sans C";
	src:
		url("../fonts/core-sans-c/CoreSansC-55Medium.woff") format("woff2"),
		url("../fonts/core-sans-c/CoreSansC-55Medium.woff2") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Core Sans C";
	src:
		url("../fonts/core-sans-c/CoreSansC-75ExtraBold.woff") format("woff2"),
		url("../fonts/core-sans-c/CoreSansC-75ExtraBold.woff2") format("woff");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Core Sans C";
	src:
		url("../fonts/core-sans-c/CoreSansC-45Regular.woff") format("woff2"),
		url("../fonts/core-sans-c/CoreSansC-45Regular.woff2") format("woff");
	font-weight: normal;
	font-style: normal;
}
