/*Підключення шрифтів */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Підключення шрифтів вручну */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
body {
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex: 1 0 auto;
}
[class*="__container"] {
	max-width: 1270px;
	margin: 0 auto;
	padding: 0px 15px;
}

/* HEADER */
.header {
	min-height: 100px;
	font-size: 34px;
	font-weight: 700;
	display: flex;
	align-items: center;
	background-color: rgb(254, 251, 247);
	color: rgb(128, 125, 126);
}
.header__container {
}
/* MAIN */
.page {
	padding-top: 130px;
	padding-bottom: 100px;
}
.page__container {
}
.section-sale {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	/* grid-template-columns: repeat(2, 1fr); */
}
.section-sale__body {
	/* max-width: 605px; */
	box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
	padding: 57px 228px 50px 28px;
	border-radius: 12px;
	font-family: "Core Sans C";
	color: rgb(255, 255, 255);
	font-weight: 800;
}
.section-sale__body--left {
	padding-top: 67px;
	background: url("../img/main/section-header/background-img-1.webp") top/ cover no-repeat;
}
.section-sale__body--right {
	background: url("../img/main/section-header/backgroun-img-2.webp") top / cover no-repeat;
}
.section-sale__content {
}
.content-sale {
}
.content-sale__pre-title {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	line-height: 30.07px;
	letter-spacing: 0.25px;
	margin-bottom: 25px;
}

.content-sale__title {
	margin-bottom: 7px;
	font-size: 34px;
	line-height: 45.1px;
}
.content-sale__text {
	font-size: 16px;
	font-weight: 500;
	line-height: 25.06px;
	letter-spacing: 0.25px;
	margin-bottom: 42px;
}
.content-sale__link {
	font-size: 20px;
	line-height: 30.13px;
	text-decoration-line: underline;
}
@media (max-width: 1199.98px) {
}
@media (max-width: 1120px) {
	.section-sale__body {
		padding: 57px 70px 50px 28px;
	}
}
@media (max-width: 991.98px) {
	.section-sale__body {
		padding: 47px 0px 40px 28px;
	}
	.content-sale__text {
		margin-bottom: 30px;
	}
	.content-sale__title {
		font-size: 28px;
	}
}
@media (max-width: 859.98px) {
	.section-sale__body {
		padding: 35px 0px 35px 28px;
	}
	.content-sale__pre-title {
		margin-bottom: 15px;
		line-height: 120%;
	}
	.content-sale__title {
		line-height: 120%;
	}
	.content-sale__text {
		margin-bottom: 15px;
		line-height: 120%;
	}
}

@media (max-width: 767.98px) {
	.section-sale__body {
		padding: 35px 0px 35px 28px;
	}
	.content-sale__pre-title {
		margin-bottom: 10px;
	}

	.content-sale__text {
		margin-bottom: 10px;
	}
}
@media (max-width: 480px) {
	.section-sale {
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}
	.section-sale__body {
		padding: 20px 15px;
	}
	.content-sale__pre-title {
		font-size: 16px;
		line-height: 100%;
	}
	.content-sale__title {
		font-size: 22px;
		line-height: 100%;
	}
	.content-sale__text {
		line-height: 100%;
	}
	.content-sale__link {
		font-size: 18px;
	}
}

/* FOOTER */
.footer {
}
.footer__container {
}
